{% extends 'base.html' %}

{% block title %}Додати книгу - {{ block.super }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h5 class="mb-0"><i class="fas fa-plus"></i> Додати нову книгу</h5>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> Зберегти
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}